.gform{
    display: flex;
    flex-direction: column;
    margin-left: 30;
    margin-top: 30;
    margin-bottom: 30;
}
.bolme{
    display: flex;
    flex-direction: column;
    width: 200;
    margin-top: 10;
}
.gtext{
    font-size: 20;
}
.ghata{
    font-size: 20;
    color: red;
}