.gonderiform{
    width: '100%';
}
.formgonderi{
    display: flex;
    flex-direction: column;
    width: '100%';
}
.formbolme{
    margin-top: 10;
    margin-bottom: 10;
}
.inptext{
    font-size: 20px;
}
.inpgonderi{
    font-size: 20px;
}